{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-body %}
<div class="row">
  <div class="col-sm-6">
    <!-- Printing out qr code & explanation here -->
    <label class="control-label">Your MFA Credential QR Code: </label>
    {% if form.provisioning_url.help_text %}
      <span class="help-icon" data-toggle="tooltip" data-placement="top" title="{{ form.provisioning_url.help_text|safe }}"><span class="fa fa-question-circle"></span></span>
    {% endif %}

    <div class="center-block text-center">
      <div id="mfa-qrcode" class="img-thumbnail" width=200 data-provisioning-url="{{ form.provisioning_url.value|safe }}"></div>
    </div>

    {% include "horizon/common/_form_fields.html" %}
    <a href="#" id="id_additional_details_toggle" title="If you cannot scan the QR code click here for the full details to enter into your MFA application.">View All Details</a>
    <span class="help-icon" data-toggle="tooltip" data-placement="top" title="If you cannot scan the QR code click here for the full details to enter into your MFA application."><span class="fa fa-question-circle"></span></span>
    <dl class="dl-horizontal" id="id_additional_totp_details" hidden="true">
        <dt>Secret:</dt> <dd>{{ form.details.value.secret.0 }}</dd>
        <dt>Type:</dt> <dd>TOTP</dd>
        <dt>Digits:</dt> <dd>{{ form.details.value.digits.0 }}</dd>
        <dt>Algorithm:</dt> <dd>{{ form.details.value.algorithm.0 }}</dd>
        <dt>Period:</dt> <dd>{{ form.details.value.period.0 }}</dd>
    </dl>


  </div>
  <div class="col-sm-6">
    <h3>{% trans "Description:" %}</h3>
    <p>{% trans "Multi-Factor Authentication (MFA) protects your account by ensuring that any attacker will need access to more than just your password."%} </p>
    <p>{% trans "To enable MFA on your account, scan the QR code to your left with an application such as Google Authenticator or Authy, then type in the generated passcode to confirm the change."%} </p>
    <p>{% trans "Note: you will not be able to login to the Dashboard, use the APIs nor review this QR code without MFA once this has been enabled. However, this protection can be removed by confirming your current passcode on this page." %}</p>

    <p>{% trans "For using the OpenStack Client, a new OpenRC file must be downloaded to ensure that you will not have to reauthenticate each time your TOTP passcode changes. The OpenRC file uses the OpenStack Client to generate a token that allows you to stay authenticated while using the APIs." %}</p>

  </div>
</div>
{% endblock %}
