{% overextends 'auth/_login_page.html' %}

{% block login_body %}
  {# Add in additional login field and JS required to allow users to place their passcode in and append it to the password #}
  {{ block.super }}
  <div class="form-group ">
    <div class="themable-checkbox">
      <input type="checkbox" name="mfa_enabled" id="id_mfa_enabled" onclick="togglePasscodeField();"/>
      <label for="id_mfa_enabled">
         <span class="control-label">MFA Enabled</span>
      </label>
    </div>
  </div>

  <div class="form-group " hidden='true' id='id_passcode_div'>
      <label class="control-label  " for="id_passcode">
          <span class="field-label">TOTP Passcode</span></label>
      <span class="hz-icon-required fa fa-asterisk"></span>
    <div class=" ">
          <input type="text" name="totp_passcode" data-switch-on="mfa_enabled" data-source-manual="TOTP Passcode" class="switched form-control" id="id_passcode" />
    </div>
  </div>
</fieldset>

  <script>
      function togglePasscodeField(){
        var checked = document.getElementById('id_mfa_enabled').checked;
        if (checked){
          document.getElementById('id_passcode_div').hidden = false;
        }else{
          document.getElementById('id_passcode_div').hidden = true;
        }
      }

      function processForm(e) {
        var checked = document.getElementById('id_mfa_enabled').checked;
        if (checked) {
          // Append the TOTP passcode to the password
          var totpPasscode = document.getElementById('id_passcode').value;
          document.getElementById('id_password').value += totpPasscode;
        }

      }

      var form = document.forms[0]; // Form ID is not set, this functions on the
                                    // assumption that there is not multiple forms
      if (form.attachEvent) {
          form.attachEvent("submit", processForm);
      } else {
          form.addEventListener("submit", processForm);
      }
  </script>
{% endblock %}
